<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login | The Red Labyrinth</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  

</head>
<body class="bg">
  
  <div class="box">
  
    
    <div class="mdl">
  
      
      <div class="card">
  
          <div class="logo">
            <div class="l-wrapper">
              <hr>
              <h1>THE RED LABYRINTH REGISTER FORM</h1>
              <hr>
          </div>
  
          </div>
          <form method="post" action="">
            {%csrf_token%}
          <div class="textbox">
            <label>First Name</label>
            {{form.first_name}}
  
          </div>
          &nbsp;  &nbsp;
          <div class="textbox">
            <label>Last Name</label>
            {{form.last_name}}
  
          </div>
          &nbsp;  &nbsp;

          <div class="textbox">
            <label>School</label>
            {{form.school}}
  
          </div>

          <br>
          <br>

          <div class="textbox">
            <label>Username / Team Name</label>
            {{form.username}}
  
          </div>
          <br>
  
          <div class="textbox">
            <label>E-mail</label>
            {{form.email}}
  
          </div>
          <br>
            <div class="textbox">
              <label>Password</label>
            {{form.password1}}
    
            </div>
            &nbsp;  &nbsp;
    
            <div class="textbox">
              <label>Re enter password</label>
              {{form.password2}}
    
            </div>
  
  
          <button type="submit">Register</button>
        </form>
      <h5 class="error">{{form.errors}} </h5>
        
      </div>
    
    </div>

  
  </div>

    
  <!-- partial:index.partial.html -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
  </html>