{% extends "main/layout.html" %}
{% load static %}

{% block global_styling %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock global_styling %}

{% block content %}
<header id="main">

    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>



<div class="l-wrapper">
    <div class="c-header"><h1>CHALLENGES</h1>
      <a href="{% url 'leaderboard' %}">-LEADERBOARD</a>
    </div>

    <div class="flex-container">

        <div class="flex-child">
            <h1> Welcome back, {{user}} </h1>
            <a href="{% url 'logout' %}">logout</a>

        </div>
        
        <div class="flex-child">
            
          <h1> RANK: &nbsp; {{player.id}}/{{total_players}} </h1>
          <h1> POINTS: &nbsp; {{player.score}} </h1>

          {% comment %} <h2> 1500 POINTS </h2> {% endcomment %}
        </div>
        
        
      </div>
      <br><br>
      <hr>

</div>





<div class="container">
    <table class='table'>
        <tr class="table-row">
            <th class="table-heading">Challenge</th>
            <th class="table-heading">Category</th>
            <th class="table-heading">Difficulty</th>
            <th class="table-heading">Points</th>
            <th class="table-heading">Solved</th>

        </tr>
        {% for challenge in challenges %}
        <tr class='table-row'>
            <td class="table-data">{{challenge.title}}</td>
            <td class="table-data">{{challenge.category}}</td>
            <td class="table-data">{{challenge.difficulty}}</td>
            <td class="table-data">{{challenge.points}}</td>
            <td class="table-data"><a href="../{{challenge.link}}" >Challenge Link</a></td></td>
            <td class="table-data">
                {% if challenge.solved == True %}
                ✅
                {% else %}
                ❌
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>
</div>
<div class="l-wrapper">
    <hr>
    <h1>IT COUNCIL, DPSS 2022-2023</h1>
</div>
</header>
{% endblock content %}
