<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Leaderboard | The Red Labyrinth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald|Overpass+Mono&amp;display=swap'><link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">

</head>
<body>
  <header id="main">

    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
<div class="l-wrapper">
  <div class="c-header"><h1>LEADERBOARD</h1>
    <a href="{% url 'dashboard' %}">-BACK TO CHALLENGES</a>
  </div>
  <div class="l-grid">
    <div class="l-grid__item l-grid__item--sticky">
      <div class="c-card u-bg--light-gradient u-text--dark">
        <div class="c-card__body">
          <div class="u-display--flex u-justify--space-between">
            <div class="u-text--left">
              <div class="u-text--small">My Rank</div>
              <h2>#{{player.id}}/{{total_players}}</h2>
            </div>
            <div class="u-text--right">
              <div class="u-text--small">My Score</div>
              <h2>{{player.score}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="c-card">
        <div class="c-card__body">
          <div class="u-text--center" id="winner">
            <!-- add the winner code here -->
            <div class="u-text-small u-text--medium u-mb--16">TOP PLAYER</div>
            <img class="c-avatar c-avatar--lg" src="{{ members.0.img }}"/>
            <h3 class="u-mt--16">{{ top_player.first_name }}&nbsp;{{ top_player.last_name }}</h3>
            <span class="u-text--teal u-text--small">{{ top_player.username }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="l-grid__item">
      <div class="c-card">
        <div class="c-card__header">
          <h3>Ranks</h3>
          <select class="c-select">
            <option selected="selected">Friday, August. 26 - Sunday, August. 38</option>
          </select>
        </div>
        <div class="c-card__body">
          <ul class="c-list" id="list">
            <li class="c-list__item">
              <div class="c-list__grid">
                <div class="u-text--left u-text--small u-text--medium">Rank</div>
                <div class="u-text--left u-text--small u-text--medium">Player</div>
                <div class="u-text--right u-text--small u-text--medium">Points Scored</div>
              </div>
            </li>
            {% for member in members %}
            {% for player in players %}
            <li class='c-list__item'>
            <div class="c-list__grid">
                {% if player.id == 1 %}
                  <div class="c-flag c-place u-bg--transparent u-text--dark u-bg--orange">{{ player.id }}</div>
                {% elif player.id == 2 %}
                  <div class="c-flag c-place u-bg--transparent u-text--dark u-bg--teal">{{ player.id }}</div>
                {% elif player.id == 3 %}
                  <div class="c-flag c-place u-bg--transparent u-text--dark u-bg--yellow">{{ player.id }}</div>
                {% else %}
                  <div class="c-flag c-place u-bg--transparent">{{ player.id }}</div>

                {% endif %}
                  <div class="c-media">
                    <img class="c-avatar c-media__img" src="{{ member.img }}" />
                    <div class="c-media__content">
                      <div class="c-media__title">{{ player.first_name }} {{ player.last_name }}</div>
                      <a class="c-media__link u-text--small" href="">@{{ player.username }}</a>
                      {% comment %} <a class="c-media__link u-text--small" href="https://127.0.0.1:8000/{{player.username}}" target="_blank">@{{ player.username }}</a> {% endcomment %}
                    </div>
                  </div>
                  {% if member.rank == 1 %}
                    <div class="u-text--right c-points u-text--yellow">
                  {% elif member.rank == 2 %}
                    <div class="u-text--right c-points u-text--teal">
                  {% elif member.rank == 3 %}
                    <div class="u-text--right c-points u-text--orange">
                  {% else %}
                    <div class="u-text--right c-points">
                  {% endif %}
                    <div class="u-mt--8">
                      <strong>{{ player.score }}</strong> {{ member.emoji }}
                    </div>
                  </div>
                </div>
            </li>
            {% endfor %}
            {% endfor %}

            <!-- Add entries here -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
  <!-- <script  src="{% static 'js/leaderboard.js' %}"></script> -->
  {%for message in messages %}
  <div class="message">{{ message }}</div>
{%endfor%}
<div class="l-wrapper">
  <hr>
  <h1>IT COUNCIL, DPSS 2022-2023</h1>
</div>
</body>
</html>